{* This is the welcome page, you can delete it *}

{block content}
<h1 n:block="title">TULBook</h1>
<a n:href="Registration:">Zaregistruj se</a>
<a n:href="Sign:">Přihlásit se</a>
   <h1>Nette FacebookConnect</h1>

{/block}
